$primary-color: #574ae8;
$primary-color-gradient: linear-gradient(88deg, #574ae8 0%, #3ea1db 100%);
$secondary-color: #1a202c;
$white: #fff;
$black: #000;
$black-opacity: #717171;
$body-color: #f3f5f7;
$primary-font: "Lexend Deca", sans-serif;
